<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Update
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">Sample rate</ion-label>
  <ion-input type="text"></ion-input>
 </ion-item>
 <ion-item>
    <ion-label position="floating">up threshold</ion-label>
    <ion-input type="text"></ion-input>
   </ion-item>
   <ion-item>
      <ion-label position="floating">down threshold</ion-label>
      <ion-input type="text"></ion-input>
     </ion-item>
<ion-button> Submit </ion-button>
</ion-content>
