<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
     
      <ion-card-header>
       
        <ion-card-title><h2>Temperature</h2></ion-card-title>
        <ion-card-content>
          {{data?.temp}}
        </ion-card-content>
      </ion-card-header>
     
    </ion-card>
    <ion-card class="welcome-card">
     
      <ion-card-header>
       <ion-card-title><h2>Humidity</h2></ion-card-title>
       <ion-card-content>
          {{data?.hum}}
        </ion-card-content>
      </ion-card-header>
     
    </ion-card>

    <ion-card class="welcome-card">
      <ion-card-title>
      <ion-grid>
        <ion-row> 
        <ion-col size="10">
          
            <h2>Delaytime</h2>
        </ion-col>
        
      </ion-row>
        
         </ion-grid>
      
         <ion-button color="secondary" *ngIf="(data?.temp>data?.tut)">TUP</ion-button>
     

        </ion-card-title>
        
       
      
    </ion-card>

</ion-content>
